@import "tailwindcss";

@keyframes transformUpDown {
       0% {
           transform: translateY(-25px);
           opacity: 0;
       }

       100% {
           transform: translateY(0%);
           opacity: 1;
       }
   }

@keyframes neonGlow {
       0%, 100% {
           text-shadow: 0 0 10px rgba(255,255,255,0.8);
       }

       50% {
           text-shadow: 0 0 14px rgba(255,255,255,0.2);
       }
}

@keyframes opacityIn {
       0% {
           opacity: 0;
       }

       100% {
           opacity: 1;
       }
}

@keyframes navAppear {
       0% {
           transform: translateY(-50px);
           opacity: 0;
       }

       100% {
           transform: translateY(0%);
           opacity: 1;
       }
}

@theme {
    --animate-transform-up-down: transformUpDown 1.2s ease-out backwards;
    --animate-logo-in: 
        neonGlow 4s ease-in-out infinite,
        opacityIn 1.4s ease-in forwards;
    --animate-go-down: 
        bounce 2s infinite,
        transformUpDown 1.2s ease-in-out backwards;

    --animate-nav-appear: navAppear 5s ease-in forwards;
}


* {
    box-sizing: border-box;
}

:root {
    font-family: "Dancing Script", cursive, "Montserrat";
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: "Birthstone", cursive;
}

h3,
h4,
h5,
h6,
p,
span,
a,
li,
div {
    font-family: "Montserrat", sans-serif;
}